body {
  background-color: rgb(240, 240, 240);
}

.container.profile {
  height: auto auto;
  margin: 20px 0;
}

.row.row-name {
  background-color: rgb(101, 145, 88);
  color: white;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.24);
  margin: 10px 0;
}

.img-fluid.profile {
  margin: 10px 10px;
  width: 350px;
  float: left;
}

.navbar {
  margin: 0 auto;
}

.name {
  text-align: center;
  margin: 20px;
}

.about-title {
  margin: 20px;
}

.copyright {
  margin: 20px;
  text-align: center;
}


