body {
  background-color: rgb(240, 240, 240);
}

.container.profile {
  height: auto auto;
  margin: 20px 0;
  clear: both;
}

.row.row-name {
  background-color: rgb(101, 145, 88);
  font-family: serif;
  font-weight: bolder;
  font-size: 30px;
  color: white;
}

.row.row-color {
  background-color: rgb(101, 145, 88);
  height: 10px;
}

.navbar {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.navbar-expandr {
  margin-bottom: 20px;
}

.name {
  text-align: center;
  margin: 20px;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.24);
  margin-top: 10px;
}

.img-fluid.profile {
  margin: 10px 10px;
  margin-right: 15px;
  width: 350px;
  float: left;
}

.about-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.copyright {
  margin: 20px;
  text-align: center;
}


