body {
  background-color: rgb(240, 240, 240);
}

.row.row-name {
  background-color: rgb(101, 145, 88);
  font-family: serif;
  font-weight: bolder;
  font-size: 30px;
  color: white;
}

.row.row-color {
  background-color: rgb(101, 145, 88);
  height: 10px;
}

.navbar {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.navbar-expandr {
  margin-bottom: 20px;
  float: right;
  width: 100%;
}

.name {
  text-align: center;
  margin: 20px;
}